

  /* Ukrywamy domyślny numer dnia z FullCalendara, 
     ponieważ renderujemy go sami we własnym Stacku */
  .fc-daygrid-day-events {
    display: none !important; 
  }

  .fc-daygrid-day-frame {
    min-height: initial !important;
    height: 100%;
  }

  .fc-daygrid-day-top {
    display: block !important;
    height: 100%;
    width: 100%;
  }
